<div class="container" id="mainContainer" data-ng-controller="morganCtrl" data-fullscreen>
    <!--<button type="button" data-ng-click="goFullscreen()" data-ng-if="showButton">Fullsreen</button>-->
    <div data-ng-repeat="source in sourceList">
        <div 
            class="component block" 
            data-ng-class="{visible: source.isVisible, invisible: !source.isVisible}" 
            data-ng-style="{'top': source.pos.top + '%', 'left': source.pos.left + '%'}"
            data-ng-bind-html="source.content">
        </div>
    </div>
    <div class="component" data-ng-class="{'marquee': showScroll, 'stopped': !showScroll}">
        {{horizontalScroll}}
    </div>
</div>
